## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

## Visual Studio
.vs/
*.csproj.user
*.csproj.user.*
*.resx.user


## NuGet
packages/
*.nupkg

## OS
Thumbs.db
.DS_Store

## IDE
*.swp
*.swo
_ReSharper*/

## Secrets
AppSettings.secret.config
/test_docx.docx
*.docx
/系统设计说明书.md

## 临时图片
商品暂存图/
/Upload_image/goods_41_16132caa6d064e43ac43dfcfcc3faed2.png
/Upload_image/goods_39_281886ce91ca4fcca798dd4fa50f7437.jpg
/Upload_image/goods_40_274ad293b90240cfa54b0b159fea65ae.png
