## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

## Visual Studio
.vs/
*.csproj.user
*.csproj.user.*
*.resx.user


## NuGet
packages/
*.nupkg

## OS
Thumbs.db
.DS_Store

## IDE
*.swp
*.swo
_ReSharper*/

## Secrets
AppSettings.secret.config
/test_docx.docx
*.docx
/系统设计说明书.md

## 临时图片
商品暂存图/
